@font-face {
    font-family: main;
    src: url('./social-links-profile-main/assets/fonts/Inter-VariableFont_slnt\,wght.ttf');
}
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #141414;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
    font-family: main;
    color: #f4f4f4;
}

section{
    width: 25%;
    height: 80%;
    background-color: #1f1f1f;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;              
    margin-top: 10%;
    gap: 10px;
}

.content img{
    width: 100px;
    border-radius: 100px;
}

.content h2{
    color: #ebebeb;
}

.content p:first-of-type {
    color: #cae757;
    margin-bottom: 35px;
}


.links nav{
    gap: 25px;
    display: grid;
    margin-top: 20px;
}

.links button{
    width: 400px;
    height: 55px;
    color: #ebebeb;
    font-weight: bolder;
    font-size: 17px;
    background-color: #333333;
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
}